section.quizCard {
  border: 2px solid rgb(44, 27, 140);
  border-radius: 5px;
  block-size: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

h1.question {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bolder;
  block-size: 20%;
  margin-block-end: 2.5rem;
}

div.options {
  inline-size: 100%;
  block-size: 30%;
  margin-block-end: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

progress {
  inline-size: 100%;
  block-size: 4rem;
  margin-block-end: 2rem;
}

span {
  display: block;
  block-size: 20%;
}

span.word {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  text-align: center;
  margin-block-end: 0.5rem;
  margin-block-end: 2rem;
}

span.question-number {
  font-weight: bolder;
  text-align: right;
  font-size: 1.2rem;
  inline-size: 100%;
}
