button.option {
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-start: 0.9rem;
  padding-block-end: 0.9rem;
  background-color: white;

  outline: none;
  border: none;
  border-radius: 5px;

  color: black;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 600;
}

button.correct {
  animation-duration: 0.5s;
  animation-name: correct;
}
button.wrong {
  animation-duration: 0.5s;
  animation-name: wrong;
}

button.option:hover {
  border: 1px solid black;
}

@keyframes correct {
  from {
    background-color: green;
  }

  to {
    background-color: white;
  }
}
@keyframes wrong {
  from {
    background-color: red;
  }

  to {
    background-color: white;
  }
}
